/* CSS for automatic text categorization output in Q and Displayr */

.main-container {
    overflow: auto;
    height: 100%;
}

h1 {
    text-align: left;
    font-family: Circular, Circular-bold,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 24px;
    color: #3E7DCC;
    font-weight: normal;
}

.footer {
    margin: 10px;
    font-size: 12px;
    text-align: center;
}

.category-info {
    font-size: 12px;
    margin-left: 10px;
}

.category-info-label {
    color: #3E7DCC;
    font-weight: bold;
}

.category-name {
    font-weight: bold;
}

.auto-categorization-table {
    font-size: 14px;
}

.raw-text-table {
    font-size: 12px;
    margin-left: 20px;
}

.raw-text-details {
    margin-left: 10px;
    margin-bottom: 20px;
}

.raw-text-summary {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.raw-text-summary:focus {
    outline: none;
}

.raw-text-category-details {
    margin-left: 20px;
    margin-bottom: 15px;
}

.raw-text-category-summary {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.raw-text-category-summary:focus {
    outline: none;
}

.example-text {
    font-style: italic;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

th {
    font-weight: bold;
}

.auto-categorization-table tr:nth-child(odd) td {
    background: #E8F2FF;
}

.auto-categorization-table th {
    border-top: 2px solid #3E7DCC;
    border-bottom: 2px solid #3E7DCC;
    padding: 8px;
}

.auto-categorization-table td {
    padding: 8px;
}

table.auto-categorization-table {
    border-bottom: 2px solid #3E7DCC;
    margin-bottom: 15px;
    width: 100%;
}

.raw-text-table tr:nth-child(odd) td {
    background: #E9EBF0;
}

.raw-text-table th {
    border-top: 2px solid #8F9DB3;
    border-bottom: 2px solid #8F9DB3;
    padding: 5px;
}

.raw-text-table td {
    padding: 5px;
}

.raw-text-table td:nth-child(1) {
    width: 50px;
}

table.raw-text-table {
    border-bottom: 2px solid #8F9DB3;
    width: calc(60vw);
}
