/* CSS for automatic text categorization output in Q and Displayr */

.auto-categorization-table {
    white-space: normal;
    line-height: normal;
}

.auto-categorization-table td:nth-of-type(1) {
    width: 0;
}

.auto-categorization-table td:nth-of-type(2) {
    width: 30%;
}

.auto-categorization-table td:nth-of-type(3) {
    width: 10%;
}
/* Last example column takes up the remaining width */
