/* Common CSS for automatic text categorization and text classifier output in Q and Displayr */

.unstructured-text-main-container {
    overflow: auto;
    height: 100%;
    white-space: normal;
    line-height: normal;
}

div.unstructured-text-main-container h1 {
    text-align: left;
    font-family: Circular, Circular-bold,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 24px;
    color: #3E7DCC;
    font-weight: normal;
}

div.unstructured-text-main-container .raw-text-category-details {
    margin-bottom: 5px;
}

div.unstructured-text-main-container .raw-text-category-summary {
    display: list-item;
    font-size: 13px;
    margin-bottom: 5px;
    color: #333333;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

div.unstructured-text-main-container .raw-text-category-summary:hover {
    cursor:pointer;
}

div.unstructured-text-main-container .raw-text-category-summary:focus {
    outline: none;
}

div.unstructured-text-main-container .raw-text-category-summary::-webkit-details-marker{
    color: #bbbbbb;
}

div.unstructured-text-main-container .raw-text-category-summary::marker{
    color: #bbbbbb;
}
div.unstructured-text-main-container th.categorization-table {
    font-weight: bold;
    text-align: left;
}

div.unstructured-text-main-container .categorization-table th {
    border-bottom: 2px solid #dddddd;
    padding: 8px;
    font-size: 13px;
}

div.unstructured-text-main-container .categorization-table td {
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 5px;
    font-size: 13px;
    vertical-align: top;
}

div.unstructured-text-main-container table.categorization-table {
    border-top: 2px solid #333333;
    border-bottom: 2px solid #333333;
    margin-bottom: 0;
    width: 100%;
    color: #333333;
    border-spacing: 0;
    border-collapse: collapse;
}

div.unstructured-text-main-container .categorization-table caption {
    padding-bottom: 4px;
    padding-top: 4px;
    caption-side:bottom;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.42857143;
    color: #777;
    font-style:italic;
    font-size:11.7px;
    text-align:left;
}

div.unstructured-text-main-container .table-row {
    border-bottom: 1px solid #dddddd;
}

div.unstructured-text-main-container .raw-text-table {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.unstructured-text-main-container .raw-text-table th {
    border-top: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    padding: 3px;
    font-size: 11px;
    font-weight: normal;
}

div.unstructured-text-main-container .raw-text-table td {
    padding: 3px;
    font-size: 11px;
}

div.unstructured-text-main-container .raw-text-table td:nth-child(1) {
    width: 50px;
}

div.unstructured-text-main-container table.raw-text-table {
    border-bottom: 2px solid #dddddd;
}
