/* CSS for ChoiceModelDesign outputs in Q and Displayr */

.choice-modelling-design-main-container{
    overflow: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    background: white;
}

.choice-modelling-design-main-container h1 {
    text-align: left;
    font-family: Circular, Circular-bold,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 24px;
    color: #3E7DCC;
    font-weight: 500;
}



.choice-modelling-design-main-container h2, .choice-modelling-design-main-container h3 {
    color: #151A1C;
    font-weight: normal;
}

.choice-modelling-design-main-container table {
    color: #303A3F;
    font-family: Circular, Circular-bold,"Helvetica Neue",Helvetica,Arial,sans-serif;
    /* width: 640px;  */
    border-collapse: collapse;
    text-align: center;
    border-spacing: 0;
}

.choice-modelling-design-main-container th {
    text-align: center;
    /* margin: 25px; */
    font-size: 12px;
    /* border-bottom: 2px solid #3E7DCC; */
}

.choice-modelling-design-main-container td {
    text-align: center;
    font-size: 12px;
    /* margin: 5px; */
}

.choice-modelling-design-main-container tr td:hover { background: #FA614B; color: #FFF; }

#cmd-table-diagnostics{
    margin-top: 10px;
}

/************************* Pairwise balance table ***********************/

.cmd-table-pairwise{
    margin-left: 10px;
}

/* style first column like <th> */
.cmd-table-pairwise td:nth-child(1){
    color: #3E7DCC;
    background: white;
    padding-right: 10px;
}

.cmd-table-pairwise th{
    font-weight: normal;
    border-bottom: 2px solid white;
}

.cmd-table-pairwise td, #cmd-table-overlaps td{
    border: 2px solid white;
}

.cmd-summary-pairwise{
    margin-left: 10px;
    /* font-weight: lighter; */
    font-size: 12px;
}

/************************* End Pairwise table ***********************/

.cmd-table-one-stat td:nth-child(even), .cmd-table-one-stat th{
    border-right: 6px solid white;
}

.cmd-table-one-stat td:nth-child(odd){
    border-right: 2px solid white;
}

.cmd-table-one-stat td{
    border-top: 2px solid white;
}

.cmd-table-two-stat td:nth-child(3n+3), .cmd-table-two-stat th{
    border-right: 6px solid white;
}

.cmd-table-two-stat td:nth-child(3n+2), .cmd-table-two-stat td:nth-child(3n+1){
    border-right: 2px solid white;
}

.cmd-table-two-stat td{
    border-top: 2px solid white;
}

.choice-modelling-design-main-container table {
    color: #303A3F;
    font-family: Circular, Circular-bold,"Helvetica Neue",Helvetica,Arial,sans-serif;
    border-collapse: collapse;
    text-align: center;
    border-spacing: 0;
}

.choice-modelling-design-main-container th {
    background: white;
    font-weight: bold;
    color: #3E7DCC;
    min-width: 24px;
    min-height: 24px;
    padding: 5px;
    vertical-align: middle;
}

.choice-modelling-design-main-container td {
    min-width: 30px;
}

.choice-modelling-design-main-container tr:nth-child(even) td { background: #F2F5FA; }

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
.choice-modelling-design-main-container tr:nth-child(odd) td { background: #E5E8EE; }

.choice-modelling-design-main-container summary {
    /* border-bottom: 3px solid #151A1C; */
    background: #F2F5FA;
    font-family: Circular, Circular-bold,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #151A1C;
    font-size: 16px;
    margin-top: 10px;
    user-select: none;
    /* margin-bottom: 10px; */
}

@supports (-ms-ime-align:auto) {
  .choice-modelling-design-summary, .choice-modelling-design-details {
      /* border-bottom: 3px solid #151A1C; */
      /* background: #F2F5FA; */
      /* font-family: Circular, Circular-bold,"Helvetica Neue",Helvetica,Arial,sans-serif; */
      /* color: #151A1C; */
      /* font-size: 15px; */
      /* margin-top: 10px; */
      /* margin-bottom: 10px; */
      display: block;
  }
}

.choice-modelling-design-main-container details summary::-webkit-details-marker{
    color: #3E7DCC;
    margin-left: 10px; /* so doesnt overlap with displayr resize tool */
}

.choice-modelling-design-main-container summary:hover {
    cursor:pointer;
}

.displayr-sub-details {
  font-size: 14px;
}
