/* CSS for table outputs in Q and Displayr */

.main-container{
    background: white;
}

table {
    color: #303A3F;
    font-family: Circular, Circular-bold,"Helvetica Neue",Helvetica,Arial,sans-serif;
    border-collapse: collapse;
    text-align: center;
    border-spacing: 0;
}

th {
    background: white;
    font-weight: bold;
    color: #3E7DCC;
    min-width: 24px;
    min-height: 24px;
    padding: 5px;
    vertical-align: middle;
}

td {
    min-width: 30px;
}

tr:nth-child(even) td { background: #F2F5FA; }

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
tr:nth-child(odd) td { background: #E5E8EE; }
