/* CSS for text analysis outputs in Q and Displayr */

.main-container {
    width: 100%;
    height: 100%;
}

.vertical-container {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    overflow: auto;
}

.top-container {
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    overflow-x: auto;
    padding-top: 10px;
}

.bottom-container {
    overflow-y: scroll;
    display: flex;
}

.bottom-container-full {
    overflow-y: scroll;
    display: flex;
    height: 100%;
}

.bottom-container-half {
    overflow-y: scroll;
    display: flex;
    height: 50%;
}

#footer-container {
    position: absolute;
    top: calc(100vh - 50px);
}

#text-panel {
    overflow-y: scroll;
    overflow-x: auto;
    min-width: 0;
    flex: 1 1 auto;
}

.raw-replacement {
    background-color: #FFFF55;
    border: 2px #FFFF55;
    border-style: solid solid solid solid;
}

#ngrams-panel {
    resize: horizontal;
    overflow-y: scroll;
    overflow-x: auto;
    max-width: calc(50vw);
    flex: 1 1 auto;
}

#footer-container {
    width: 100%;
}

#footer {
    text-align: center;
    font-size: 12px;
}

.text-analysis-table {
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.text-analysis-table th {
    overflow-x: auto;      /* needed to make table columns resizable */
    resize: horizontal;
    hyphens: auto;
}

.text-analysis-table td {
    padding-left: 5px;
    padding-right: 5px;
    word-break: break-word; /* only break words in cells not table headers */
    hyphens: auto;
}

.variable-name {
    display: block;
    margin: 10px 15px 0 15px;
    color: #3E7DCC;
    font-family: Circular, Circular-bold,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
}

.diagnostics-title {
    color: #3E7DCC;
    font-size: 22px;
    margin: 10px 15px 0 15px;
    font-family: Circular, Circular-bold,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.diagnostics-container {
    margin-top: 10px;
    width: 100%;
}

.diagnostics-text {
    display: block;
}

.diagnostics-table {
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.diagnostics-table td {
    padding-left: 5px;
    padding-right: 5px;
    word-break: break-word; /* only break words in cells not table headers */
    hyphens: auto;
}

.diagnostics-block {
    display: flex;
    border-bottom: solid 1px #BBB;
}

.diagnostics-group {
    padding-top: 10px;
}
