/* CSS for text analysis outputs in Q and Displayr */

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
}

.dummy-container {
    flex: 1000 0 0;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-self: stretch;
    overflow: auto;
    flex-shrink: 1;
    min-height: 2em;
}

.top-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    overflow-x: auto;
}

.top-container-diagnostic {
    max-height: calc(100% - 2em - 4px);
    padding-top: 4px;
}

.bottom-container {
    overflow-y: scroll;
    display: flex;
}

.bottom-container-full {
    overflow-y: scroll;
    display: flex;
    height: 100%;
}

.bottom-container-half {
    overflow-y: scroll;
    display: flex;
    height: 50%;
}

.footer-container {
    max-height: 20vh;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.42857143;
    color: #777;
    font-style:italic;
    font-size:11.7px;
    text-align:left;
    width: 100%;
    padding-bottom: 4px;
    padding-top: 4px;
    flex: 1 0 auto;
    overflow: auto;
}

#text-panel {
    overflow-y: scroll;
    overflow-x: auto;
    min-width: 0;
    flex: 1 1 70%;
}

.raw-replacement {
    background-color: #FFFF55;
    border: 2px #FFFF55;
    border-style: solid solid solid solid;
}

.split-text {
    background-color: #FFFF55;
    border: 2px #FFFF55;
    border-style: solid solid solid solid;
}

#ngrams-panel {
    resize: horizontal;
    overflow-y: scroll;
    overflow-x: auto;
    max-width: calc(50vw);
    flex: 1 1 auto;
}

.text-analysis-table {
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.text-analysis-table th {
    overflow-x: auto;      /* needed to make table columns resizable */
    resize: horizontal;
    hyphens: auto;
}

.text-analysis-table td {
    padding-left: 5px;
    padding-right: 5px;
    word-break: break-word; /* only break words in cells not table headers */
    hyphens: auto;
}

.categories-table td:nth-of-type(2) {
    white-space: nowrap;
}

.categories-table td:nth-of-type(3) {
    white-space: nowrap;
}

.raw-text-table td:nth-of-type(1) {
    white-space: nowrap;
}

.low-freq-table td:nth-of-type(2) {
    white-space: nowrap;
}

.low-freq-table td:nth-of-type(3) {
    white-space: nowrap;
}

.raw-cases-table td:nth-of-type(1) {
    white-space: nowrap;
}

.raw-cases-table td:nth-of-type(2) {
    white-space: nowrap;
}

.variable-name {
    display: block;
    margin: 10px 15px 0 15px;
    color: #3E7DCC;
    font-family: Circular, Circular-bold,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
}

.diagnostics-title {
    color: #3E7DCC;
    font-size: 22px;
    margin: 10px 15px 0 15px;
    font-family: Circular, Circular-bold,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.diagnostics-container {
    margin-top: 10px;
    width: 100%;
}

.diagnostics-text {
    display: block;
}

.diagnostics-table {
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.diagnostics-table td {
    padding-left: 5px;
    padding-right: 5px;
    word-break: break-word; /* only break words in cells not table headers */
    hyphens: auto;
}

.diagnostics-block {
    display: flex;
    border-bottom: solid 1px #BBB;
}

.diagnostics-group {
    padding-top: 10px;
}

.diagnostics-message {
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #444;
}
